*{

padding:0;
margin:0;
}
.header{
    background-image:linear-gradient(rgba(94,231,94,0.298),rgba(39,172,39,0.298)) ,url("pic1.jpg");
    height:750px;
    background-size: cover;
    background-position: top;
}
#first_heading{
  font-size: 5vw;
  font-family: serif;
  font-weight: 200 ;
  text-transform: uppercase;
  text-align: center;
  color:rgb(0,0,0);
}
#second_heading{
  display:block;
  font-size: 16px;
  font-family:serif;
}
#btn{
  width:13%;
  height:50px;
  border-radius: 15px;
  font-size: 2vw;
  font-weight: 100;
  font-family:serif;
  text-transform:capitalize;
  background-color: rgba(0,0,0,0.8);
  color:white;
}
.row{
  width:100%;
  display:flex;
  flex-wrap: wrap;
}
.col-1{
  width:8.33%;
}
.col-2{
  width:16.66%;
}
.col-3{
  width:25%;
}
.col-4{
  width:32.33%;
}
.col-5{
  width:41.66%;
}
.col-6{
  width:49.00%;
}
.col-7{
  width:58.32%;
}
.col-8{
  width:60.00%;
}
.col-9{
  width:74.98%;
}
.col-10{
  width:83.31%;
}
.col-11{
  width:91.64%;
}
.col-12{
  width:100% ;
}
#pic{
  width:70%;
  height:300px;
}
#pic2{
   width:70%;
   height:300px;
}
#pic3{
  width:70%;
  height:300px ;
}
.one{
  padding-left:20px;
  padding-top:20px;
}
.bg{
  background-color: rgb(214,207,207);
}
.txt{
  padding:10px;
  padding-top:40px;
}
.pic5{
  width:80%;
  height:30vh;
  border-radius:30px;
}
